*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
background-image: url(/images/jpg/wepik-export-202308260528110Mst.png);
}

.formLogin{
    width: 600px;
    height: auto;
    background-color: #663399;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #a11791;
    border-radius: 24px;
    padding: 20px 30px;
}
 .formLogin h2{
    margin: 0;
    text-align: center;
    height: 50px;
    margin-bottom: 30px;
    border-bottom: 3px solid;
 }
 .error-message{
   color: red;
}

 .loginBar{
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    padding-left: 10px;
    background-color: #d7cac0;
    font-size: 14px;
    font-weight: bold;
    padding-right: 10px;
 }

 .checkButtom{
    width: 100%;
    height: 30px;
    background-color: #ed36aa65;
    border: none;
    color: white;
    margin-bottom: 15px;
 }
 .checkButtom:hover{
    background-color:#ed36aa93 ;
 }

 .forgotPswd p{
    text-align: center;
    height: 40px;
    border-top: 3px solid;
    padding-top: 14px;
 }
 .forgotPswd a{
    color: rgb(160, 182, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
 }
 
 .forgotPswd a:hover{
    text-decoration: underline;
 }

 .notAlreadyUser a{
padding-left: 5px;
color: rgb(160, 182, 255);
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
 }

 .notAlreadyUser a:hover{
   text-decoration: underline;
 }

.adminFile p, .adminDate p{
    padding: 0 0 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


@media (max-width: 480px) {
   .formLogin{
      width: 320px;
   }
 }
