*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
background-image: url(/images/jpg/wepik-export-202308260528110Mst.png);
}

.formLogin{
    width: 400px;
    height: 100%;
    background-color: #663399;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #a11791;
    border-radius: 24px;
    padding: 20px 30px;
}
 .formLogin h2{
    margin: 0;
    text-align: center;
    height: 50px;
    margin-bottom: 30px;
    border-bottom: 3px solid;
 }

 .loginBar{
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    padding-left: 10px;
    background-color: #d7cac0;
    font-size: 14px;
    font-weight: bold;
 }

 .checkButtom{
    width: 100%;
    height: 30px;
    background-color: #ed36aa65;
    border: none;
    color: white;
    margin-bottom: 15px;
 }
 .checkButtom:hover{
    background-color:#ed36aa93 ;
 }

 .forgotPswd p{
    text-align: center;
    height: 40px;
    border-bottom: 3px solid;
 }
 .forgotPswd a{
    color: rgb(160, 182, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
 }

 .errors-message{
    display: flex;
    height: 35px;
  background-color: #fce4e496;
  border: 1px solid #fcc2c3;
  color: #cc0033;
  text-shadow: 1px 1px rgba(250,250,250,.3);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
 }
 
 
 .forgotPswd a:hover{
    text-decoration: underline;
 }
 .notAlreadyUser{
   padding-top: 8px;
   text-align: center;
 }
 .notAlreadyUser a{
padding-left: 5px;
color: rgb(160, 182, 255);
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
 }

 .notAlreadyUser a:hover{
   text-decoration: underline;
 }
 @media (max-width: 480px) {
   .formLogin{
      width: 320px;
   }
 }
