*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
background-image: url(/images/jpg/wepik-export-202308260528110Mst.png);
}

.loginBar{
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    padding-left: 10px;
    background-color: #d7cac0;
    font-size: 14px;
    font-weight: bold; 
 }
 .form{
    width: 400px;
    height: auto;
    background-color: #663399;
    margin: auto;
    margin-top: 80px;
    box-shadow: 7px 13px 37px #a11791;
    border-radius: 24px;
    padding: 20px 30px;
}
  .allProducts{
    margin-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    justify-content: center;
    height: 50px;
    margin-bottom: 30px;
    border-bottom: 3px solid;
    color: white;
    font-size: 45px;
 }
 .h3{
    text-align: center;
 }
.testeo{
   text-align: center;
}
 p{
    padding-top: 10px;
 }

 .imgSize{
   width: 75%;
 }
