<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/adminFormStyles.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <%- include ('parcial/header')  %>
    </header>
    <main>
        <form method="post" action="/products" enctype="multipart/form-data">  
            <div class="formLogin">
                <h2>
                    Formulario de Administrador
                </h2>
                <div>
                    <div>
                        <input class="loginBar" type="text" name="product_name" id="" placeholder=" Nombre de Producto" minlength="5" required>
                    </div>
                    <div>
                        <input class="loginBar" type="text" name="description" id="" placeholder="Descripción" minlength="20" required>
                    </div>
                    <div class="adminFile">
                        <p>Imagen del Producto</p>
                        <input class="loginBar" type="file" name="image" accept=".jpg, .jpeg, .png, .gif" id="img_validation" required style="padding: 4px 0 0 10px;">
                        <p id="error-message" class="error-message" style="display: none;">Por favor, selecciona un archivo de imagen válido (JPG, JPEG, PNG o GIF).</p>
                    </div>
                    <!-- <div>
                        <input class="loginBar" type="text" name="barType" id="" placeholder="Tipo de Barra" required>
                    </div> -->
                    <div class="adminDate">
                        <p> Fecha límite en la que estará disponible la Barra/servicio</p>
                        <input class="loginBar" type="date" name="date" id="" required>
                    </div>
                    <div>
                        <input class="loginBar" type="text" name="price" id="" placeholder="Precio" required>
                    </div>


                    <div>
                        <input class="checkButtom" type="submit" value="Ingresar">
                    </div>
                    <div class="forgotPswd">
                        <p></p>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <footer>
        
    </footer>
    <script src="/scripts/fileTypeValidation.js" ></script>
</body>
</html>