<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Contacto</title>
    <link rel="stylesheet" href="/css/contactsStyles.css">
    <link rel="stylesheet" href="/css/header.css">
    <!--Icon-Font-->
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
<header>
    <div>
        <ul class="headerUl">
            <a class="headerlink" href="/">Inicio</a>
            <a class="headerlink" href="/executive">Quienes nos eligen</a>
            <a class="headerlink" href="/index">Nuestros servicios</a>
            <a class="headerlink" href="/contacts">Trabaja con nosotros</a>
            <a class="headerlink" href="/products">Nuestros Productos</a>
        </ul>
    </div>
</header>
<body background="Logo/Fondo ShakeUp.png">
    

    <%- include ('parcial/header')%>
            
        <div class="info-form">
            <h2 style="text-align: center;">Trabaja con nosotros!</h2>
            <p style="text-align: center;">Queres formar parte de nuestra familia? contamos con un exelente ambito laboral. Mandamos tú curriculum para crecer junto a una de las mejores empresas cocteleras.
            </p>
            </div>
          <form method="POST" action="/contacts" enctype="multipart/form-data" class=" formulario">

            <input type="text" name="name" placeholder="Nombres:" class="campo">
            <input type="text" name="surname" placeholder="Apellido:" class="campo">
            <input type="email" name="email" placeholder="e-Mail:" class="campo">
            <input type="file" name="cvHere"placeholder="Adjunta tú CV aqui." style="padding: 15px 10px; color: white;">
            <input type="submit" name="send" value="Enviar" class="btn-enviar"><br/>
            <p>Gracias por contar con nosotros.
            
        </p>
    </form>

    </div>
    
</body>
</html>