<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos by Shake it Up!</title>
</head>
<body>
    <header> 
        <div class="imgContainer"> 
            <img src="../../public/images/jpg/shake it up logo.jpg" alt="">
        </div>
    </header>

    <h3></h3>
</body>
</html>
