<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/executiveStyles.css">
    <title>Eventos by Shake it Up!</title>
</head>
<header> 
    <h3>Eventos by Shake it Up!</h3>
</header>
<body>
    <div class="Container1">
        <div class="imgContainer"> 
            <img src="images/jpg/shake it up logo.jpg" alt="">
        </div>
        <form class="search-bar">
            <input type="search" placeholder="Buscar...">
                <button type="submit">Buscar</button>
        </form>

    </div>
    <div class="contenedorCarrousel">
        <ul>
            <li class="slide"><img src="images/jpg/bar-noosa.jpg" alt=""></li>
            <li class="slide"><img src="images/jpg/shake it up logo.jpg" alt=""></li>
            <li class="slide"><img src="images/jpg/shake it up logo.jpg" alt=""></li>
            <li class="slide"><img src="images/jpg/shake it up logo.jpg" alt=""></li>
        </ul>
    </div>

</body>
</html>