<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/css/forgotpswdStyles.css">
     <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <%- include ('parcial/header')%>
    </header>
    <main>
        <form method="post">  
            <div class="formLogin">
                <h2>
                    ¿Olvidaste tu contraseña?
                </h2>
                <div>
                    <div>
                        <h4>
                            Dejanos tu Usuario o E-mail para recuperarla.
                        </h4>
                        <input class="loginBar" type="text" name="userName" id="" placeholder=" E-mail / Nombre de Usuario" required>
                    </div>
                    
                    <div>
                        <input class="checkButtom" type="submit" value="Ingresar">
                        <div class="bordefinal"></div>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <footer>
        
    </footer>
</body>
</html>