<!doctype html>
<html lang="es">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">    
		<link rel="stylesheet" href="styles1.css">
		
        <title>Barra Móvil de Tragos en donde estes</title>
        <meta name="description" content="Necesitas una barra de tragos para tu evento? No busques más, te ofrecemos el mejor servicio de barra móvil a domicilio, a partir de $35500"/>
        			
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme-nearblack.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href='https://fonts.googleapis.com/css?family=Raleway:100,400,300,500,600,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Dosis:100,300,400,600,700" rel="stylesheet" type="text/css">
        <link href="css/font-dosis.css" rel="stylesheet" type="text/css">
		<link href="css/et-line-icons.css" rel="stylesheet" type="text/css" media="all">  
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">    
        <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />	
		
		</head>
		<body style="background-image: url(/images/wepik-export-20230826052311ARGp.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		color: rgb(255, 70, 249);">
		<h1 class="text-center mb16 bold">SHAKE IT UP</h1>
		<section class="cover fullscreen image-bg overlay parallax">
		        <!-- <div class="background-image-holder">
		            <img alt="rescate barra movil" class="background-image" src="/images/shake.jpg">
		        </div> -->
		        <div class="container v-align-transform">
		            <div class="row">
		                <div class="text-center">
		                    <h1 class="mb16 bold">Barra Móvil de Tragos Para Eventos</h1>
		            </div>
		            </div>
		           </div>

				
		    
    <nav class="navBar">
        <ol>
        <li><a href="">Inicio</a></li>
        <li><a href="">Quienes nos eligen</a><img  class="icono"  alt="" ></li>
        <li><a href="">Somos Shake it Up</a></li>
        <li><a href="">Nuestros servicios</a><img  class="icono"  alt="" ></li>
        <li><a href="">Trabajá con nosotros</Table></a></li>
        </ol>
    </nav>
		        <div class="align-bottom relative-xs text-center">
		            <a class="btn btn-filled btn-lg mb32 mt-xs-40 inner-link" href="#precios" target="_self">VER PRECIOS</a>
		        </div>
		    </section><a id="contacto" class="in-page-link"></a>
			
				<section>
					<div class="container">
						  <div class="row">
							<div class="col-sm-12 text-center">
								<h4 class="uppercase mb16">PRECIOS de BARRA DE TRAGOS</h4>
								<p class="lead mb64">
									La Mejor Calidad al Mejor Precio</p> 
									<p>Todas las barras incluyen gaseosas y agua libre. </p>
							</div>
						</div>		 

						<div class="row">
						<div class="columna-1">         
						<div class="col-sm-6 col-md-4">
								<div id="fila-especial" class="row">
									<!-- Contenido de la fila especial -->
								</div>
								<div class="pricing-table pt-2 text-center">
									<h5 class="uppercase">BARRA CLASICA</h5>								
									<span class="price">$50000 / 3hs</span>
									<p class="lead">¡Más de 30 tragos!</p>
									<a class="btn btn-white btn-lg btn-filled inner-link" href="#contacto" target="_self">LA QUIERO</a>
									<ul>
									<div>Servicio de 3 hs.</div>
									<div>BEBIDAS</div>
									<img src="/images/Barra (4).jpg" alt="Imagen 1" class="imagen-ajustable">
									<div>
										<br>
									</div>
									<p>Champagne Novecento, destilados y licores Peters, Fernet 1882, Gancia, Gancia Spirit</p>
									<div class="caja">
									</div>
								<div>
										<br>
										<br>
									</div>
										<div>--TRAGOS--</div>
									<div>
										<br>
									</div>
										<div style="background-color: rgba(0, 0, 0, 0.737);
										border-radius: 15px;">Americano, Aperol Spritz, Atomic Green, Apple Gancia, Bellini, Blind melón, Blue Fizz,
	Boulevarier, Caipirinha, Caipirinha de frutilla, Caipiríssima, Caipirovska,
	Campari orange, Campari tonic, Mimosa, Cielito lindo, Cuba Libre, Daiquiri
	(Frutilla-Durazno), Vodka Orange, Electric lemonade, Fernet con coca,
	Fernetonic, Fuzzy navel, Gancia Batido, Gancia Soho, Gato rosa, Gin tonic, Gin
	Fizz, Irish Lady, Long Island Ice Tea, Manhattan, Margarita, Margarita de
	frutilla, Mint Julep, Mojito, Negroni, Old Fashioned, Pantera rosa, Piel de
	iguana, President, Quarter deck, Rossini, Sex on the beach, tequila shot,
	Tequila sunrise, Tyt Pepino, Tik joe, Tom Collins, Tonic Blue, Upper Cut, Vodka
	tonic</div>
							   
									</ul>
								</div>
							  </div>
							</div>  
					
							<div class="row">
							<div class="columna-2">         
							<div class="col-sm-6 col-md-4">
							<div class="pricing-table pt-2 boxed text-center emphasis">
							    <h5 class="uppercase">BARRA PLATA</h5>
		                        <span class="price">$75000 / 4 hs</span>
		                        <p class="lead">¡La mejor bebida!</p>
								<a class="btn btn-white btn-lg btn-filled inner-link" href="#contacto" target="_self">LA QUIERO</a>
		                        <ul>
		                            <div>Servicio de 4 hs.</div>
										<div>BEBIDAS</div>
										<img src="/images/barra-plata.jpg" alt="Imagen 2" class="imagen-ajustable">
										<div>
											<br>
										</div>
										<div class="caja">
										</div>
									Campari, Champagne F. Alvear, Fernet Branca, Gancia, Gin 
		                            Gordons, Havana Club, Tequila Sol Azteca, Vodka Smirnoff/Skyy.<b><br></b></li>
		                            <div>
										<br>
									</div>
		                            <div>--TRAGOS--</div>
									<div>
										<br>
									</div>
									<div>Americano, Aperol Spritz, Atomic Green, Apple Gancia, Bellini, Blind melón, Blue Fizz,
Boulevarier, Caipirinha, Caipirinha de frutilla, Caipiríssima, Caipirovska,
Campari orange, Campari tonic, Mimosa, Cielito lindo, Cuba Libre, Daiquiri
(Frutilla-Durazno), Vodka Orange, Electric lemonade, Fernet con coca,
Fernetonic, Fuzzy navel, Gancia Batido, Gancia Soho, Gato rosa, Gin tonic, Gin
Fizz, Irish Lady, Long Island Ice Tea, Manhattan, Margarita, Margarita de
frutilla, Mint Julep, Mojito, Negroni, Old Fashioned, Pantera rosa, Piel de
iguana, President, Quarter deck, Rossini, Sex on the beach, tequila shot,
Tequila sunrise, Tyt Pepino, Tik joe, Tom Collins, Tonic Blue, Upper Cut, Vodka
tonic</div>
	                           	                            
		                        </ul>
		                    </div>		                    
		                </div>
						</div>
						
						<div class="row">
						<div class="columna-3">         
						<div class="col-sm-6 col-md-4">
		                    <div class="pricing-table pt-2 text-center">
		                        <h5 class="uppercase">BARRA GOLD</h5>
		                        <span class="price">$125000 / 4 hs</span>
		                        <p class="lead">¡Para exigentes!</p>
		                        <a class="btn btn-white btn-lg btn-filled inner-link" href="#contacto" target="_self">LA QUIERO</a>
		                        <ul>
		                            <div>Servicio de 4 hs.</div>
		                            <div>BEBIDAS IMPORTADAS</div>
									<img src="/images/barra-vip.jpg" alt="Imagen 2" class="imagen-ajustable">
									<div>
										<br>
									</div>
									</li>Campari, Champagne Mumm, Fernet Branca, Gancia, Gin Tanqueray/Beefeater, Ron Havana Club Añejo, Tequila Jose Cuervo, Vodka Absolut, 
		                            licores tres plumas.<div class="caja">
									</div>
									<div>
										<br>
									</div>
									<div>--TRAGOS--</div>
									<div>
										<br>
									</div>
									<div> Aperol Spritz, Atomic Green, Apple Gancia, Bellini, Blind melón, Blue Fizz,
Boulevarier, Caipirinha, Caipirinha de frutilla, Caipiríssima, Caipirovska,
Campari orange, Campari tonic, Mimosa, Cielito lindo, Cuba Libre, Daiquiri
(Frutilla-Durazno), Vodka Orange, Electric lemonade, Fernet con coca,
Fernetonic, Fuzzy navel, Gancia Batido, Gancia Soho, Gato rosa, Gin tonic, Gin
Fizz, Irish Lady, Long Island Ice Tea, Manhattan, Margarita, Margarita de
frutilla, Mint Julep, Mojito, Negroni, Old Fashioned, Pantera rosa, Piel de
iguana, President, Quarter deck, Rossini, Sex on the beach, tequila shot,
Tequila sunrise, Tyt Pepino, Tik joe, Tom Collins, Tonic Blue, Upper Cut, Vodka
tonic</div>
		                            
		                        </ul>
		                    </div>		                    
		                </div>
		            </div>		            
		        </div>
							</div>

		        
		    </section><a id="entradas" class="in-page-link"></a>
			
			<section>
		        <div class="container">
					<div class="row">
		                <div class="col-md-6 col-md-push-6 pt80 pt-xs-0">
		                    <div class="feature bordered text-center bg-secondary">
		                        
		                        <div class="mb40">
		                            <h6 class="mb8 uppercase">CONDICIONES Y FORMAS DE PAGO</h6>
		                            <p>INCLUYE:&nbsp;<br>Barra móvil de leds, vasos y cristalería, bartender y personal uniformado, hielo<br><br>DURACIÓN:<br>4 horas, consultar por extensión horaria<br><br>MÍNIMO DE CONTRATACIÓN:<br>40 invitados, consultar por menor cantidad<br><br>CONTRATACIÓN Y MEDIOS DE PAGO:<br>Depósito bancario del 50%, el resto de cancela en el evento.<br>Aceptamos tarjetas de crédito</p>
		                        </div>
		                        
		                        
		                    </div>
		                    
		                </div>
		                <div class="col-md-6 col-md-pull-6">
		                    <div class="feature bordered hidden-xs hidden-sm">
		                        <h2 class="mb64 mb-xs-24">Llevamos la diversión estés donde estés!</h2>
		                        <p>
		                            <strong>* Todas las barras incluyen gaseosas libres<br>* Ofrecemos un servicio atendido por bartenders profesionales<br></strong>
		                        </p>
		                        
		                    </div>
		                    
		                </div>
		            </div>
		            
		        </div>
		        
		    </section><a id="testimonios" class="in-page-link"></a>
			
			<section class="bg-dark">
		        <div class="container">
		            <div class="row mb64 mb-xs-24">
		                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
		                    <h3>Lo Que Dicen Nuestros Clientes</h3>
		                </div>
		            </div>
		            
		            <div class="row">
		                <div class="col-sm-4 text-center">
		                    <div class="feature boxed cast-shadow-light"> 
		                        <img alt="Cliente de pizza party" class="image-small inline-block mb24" src="/images/modelo.jpg">
		                        <h4>"Bartenders profesionales"</h4>
		                        <p>Los mejores tragos del mundo los tiene OnTheRoad. Son un lujo y además incluyen bebidas sin alcohol para niños.<br></p>
		                        <span><b>Eliana Gonzalez</b></span>
		                    </div>
		                </div>
		                <div class="col-sm-4 text-center">
		                    <div class="feature boxed cast-shadow-light">
		                        <img alt="Cliente de pizza party 1" class="image-small inline-block mb24" src="/images/bar-noosa.jpg">
		                        <h4>"Una verdadera fiesta"</h4>
		                        <p>
		                            Contratamos barras móviles para una fiesta electronica y la buena onda que tenían colaboró para sea la noche.<br></p>
		                        <span><b>Pablo Almeyda</b></span>
		                    </div>
		                </div><div class="col-sm-4 text-center">
		                    <div class="feature boxed cast-shadow-light">
		                        <img alt="Cliente de pizza party 2" class="image-small inline-block mb24" src="/images/neymar.jpg">
		                        <h4>"Servicio de 10"</h4>
		                        <p>Muy buen servicio de barra GOLD, los mejores tragos, excelente onda. Recomendados!</p>
		                        <span><strong>Neymar Jr</strong></span>
		                    </div>
		                </div>
		                
		            </div>
		            
		        </div>
		        
		    </section>
			
						<footer class="bg-primary pt96 pb96 pt-xs-48 pb-xs-48">
				<div class="container">
					<div class="row mb64 mb-xs-32">
						<div class="col-md-5 text-right text-left-xl">
							<h2 class="uppercase bold italic">DEJANOS CONVERTIR TU EVENTO EN LO MAS DESEADO</h2>
						</div>
						<div class="col-md-2 hidden-sm hidden-xs text-center pt48">
							<i class="icon display-block fa fa-thumbs-o-up icon-lg"></i>
						</div>
						<div class="col-md-5 col-sm-6">
							<p class="lead">Estamos listos para llevar tu barra!</p>
							<h4 class="mb8">Móvil: <a href="tel:+5491131137755">11 3113-7755</a>
		<br>Whatsapp: <a href="https://wa.me/5491131137755">11 3113-7755</a>
		<br>Email: <a href="mailto:promociones@shakeitup.com.ar">promociones@shakeitup.com.ar</a>
		<br></h4>									
							<h4 class="mb0">IG: <a href="https://www.instagram.com/shake_up/" rel="noopener,noreferrer,nofollow">@shake_itup</a></h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
							<p class="fade-1-4">La barra mas buscada © 2023 | San Miguel, Buenos Aires | Argentina <a href="https://shakeitup.com.ar/blog-de-notas/">Blog</a></p>
						</div>
					</div>
				</div>
			</footer>

						
		</div>
		
				
	<script src="js/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>		 
        <script src="js/smooth-scroll.min.js"> </script>  
        <script src="js/parallax.js"></script>
        <script src="js/scripts-gads.js"></script>
		<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        
        
    <!--Whatsapp-->
		
		<div style="bottom: 12px;right: 12px;position: fixed;z-index: 999999999999999999999999;text-align: center;">
			<a href="https://wa.me/5491131137755" target="blank" class="pulse-button" rel="noopener,noreferrer,nofollow">
				<img src="https://pizzapartyotr.com.ar/wp-content/uploads/2018/11/whatsapp-boton.png" alt="whatsapp SHAKE IT UP">
			</a>
		</div>
        
    </body>
</html>
