<!DOCTYPE html>
<html lang="en">
  
<head>
    <link rel="stylesheet" href="/css/listStyles.css">
    <link rel="stylesheet" href="/css/header.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Listado</title>
</head>
<body>
    <header>
      <%- include ('parcial/header')%>
    </header>
    <div>
      <div class="nombre">
        Shake it Up
    </div>
    <main>
        <div class="listCompras">
            <h3>
                <a href="/">Atras</a>
                
            </h3>    
            <h2>
                Mis productos
            </h2>
        
        <input class="finalCompra" type="submit" value="Finalizar compra">
  
    </div>
    </main>
    </div>  
</body>
</html>