<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/listStyles.css"
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* @keyframes shine {
            0% {
      background-position: -200%;
    }
    100% {
      background-position: 200%;
    }
  } */
  a:-webkit-any-link {
    color: #000;
    cursor:pointer;
    text-decoration: none;
}
  .listCompras h3{
    border-top: 100%;
    padding: 10px 20px;
    background-size: 0;
    /* text-decoration: underline #ed36aa93; */
    font-weight: bold;
    animation: infinite;
  } 

  input[type="submit" i] {
    appearance:initial;
    user-select: none;
    align-items: flex-start;
    text-align: center;
    cursor:pointer;
    box-sizing: border-box;
    background-color: #ed36aa65;
    color: buttontext;
    padding-block: 1px;
    padding-inline: 6px;
    padding-left: 3px;
    border-width: 2px;
    border-style:hidden ;
    border-color: none;
    border-image:none;
  }
    </style>
    <title>Listado</title>
</head>
<body>
    <header>
        <div class="nombre">
            Shake it Up
        </div>
        <main>
            <div class="listCompras">
                <h3>
                    <a href="/">Atras</a>
                    
                </h3>    
                <h2>
                    Mis productos
                </h2>
            
            <input class="finalCompra" type="submit" value="Finalizar compra">
   
        </div>
            <div>
              
            </div>
        </main>
    </header>
    
</body>
</html>