<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notfound</title>
    <link rel="stylesheet" href="css/not-foundStyles.css">
</head>
<body>
    <div class="sadface">
        <img src="/images/jpg/caritatriste.jpg" alt="">
    </div>
    <h2>Error 404, no se encuentra lo que busca</h2>
</body>
</html>