<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contactsStyles.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Producto 1 - Nombre del Producto</title>
</head>
<header>
    <div>
        <ul class="headerUl">
            <a class="headerlink" href="/">Inicio</a>
            <a class="headerlink" href="/executive">Quienes nos eligen</a>
            <a class="headerlink" href="/index">Nuestros servicios</a>
            <a class="headerlink" href="/contacts">Trabaja con nosotros</a>
            <a class="headerlink" href="/products">Nuestros Productos</a>
        </ul>
    </div>
</header>
<body background="Logo/Fondo ShakeUp.png">

    <!-- Encabezado común a todas las páginas -->
    <header>
        <h1 class="text-center mb16 bold">SHAKE IT UP</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Acerca de</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
            <form id="productForm">
                <label for="productName">Nombre:</label>
                <input type="text" id="productName" required minlength="5">
            
                <label for="productDescription">Descripción:</label>
                <textarea id="productDescription" required minlength="20"></textarea>
            
                <label for="productImage">Imagen:</label>
                <input type="file" id="productImage" accept="image/jpeg, image/png, image/gif">
            
                <button type="submit">Guardar Producto</button>
            </form>
            
        </nav>
    </header>

    <!-- Contenido específico de la página de producto -->
    <section class="product-page">
        <h2>Detalles del Producto 1</h2>
        <!-- Aquí va el contenido específico del producto -->
        <p>Descripción del Producto 1...</p>
    </section>

    <!-- Pie de página común a todas las páginas -->
    <footer>
        <p>Derechos de autor © 2023 Tu Empresa</p>
    </footer>
</body>
</html>
