<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <title>Detalle de producto</title>
    
</head>
<header>
    <div>
        <ul class="headerUl">
            <a class="headerlink" href="/">Inicio</a>
            <a class="headerlink" href="/executive">Quienes nos eligen</a>
            <a class="headerlink" href="/index">Nuestros servicios</a>
            <a class="headerlink" href="/contacts">Trabaja con nosotros</a>
            <a class="headerlink" href="/products">Nuestros Productos</a>
        </ul>
    </div>
</header>
<body>
    <h1>Editar producto</h1>
    <form action="/product/edit/<%= product.id %>?_method=PUT" method="POST">
        <div>
            <label for="">Titulo</label>
            <input type="text" name="product_name" id="" value="<%= product.product_name %>">
        </div>
        <div>
        <label for="productName">Nombre:</label>
    <input type="text" id="productName" required minlength="5">
        </div>
        <div>
            <label for="">Precio</label>
            <input type="text" name="price" id="" value="<%= product.price %>">
        </div>
        <div>
            <label for="productDescription">Descripción:</label>
            <textarea id="productDescription" required minlength="20"></textarea>
        </div>
        <div>
            <label for="productImage">Imagen:</label>
    <input type="file" id="productImage" accept="image/jpeg, image/png, image/gif">
        </div>
        <button type="submit">Guardar Producto</button>
    </form>
</body>
</html>