<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/css/stylesRegister.css">
</head>
<body>
    <header>
        
    </header>
    <main>
        <form method="post">

            <div class="formLogin">
                <h2>
                    Registrate en nuestra app
                </h2>
                <div>
                    <div>
                        <p class="fontText">
                            Nombre
                        </p>
                    </div>
                    <div>
                        <input class="loginBar" type="text" name="name" id="" placeholder="Nombre" required>
                    </div>
                    <div>
                        <p class="fontText">
                            Apellido
                        </p>
                    </div>
                    <div>
                        <input class="loginBar" type="text" name="surname" id="" placeholder="Apellido" required>
                        <!-- error acá!!!! -->
                </div>
            </div>
            <div>
                <p class="fontText">
                    E-mail
                </p>
                <div>
                    <input class="loginBar" type="email" name="E-mail" id="" placeholder="E-mail" required>
                </div>
            </div>
            <div>
                <div>
                    <p class="fontText">
                        Nombre de usuario
                    </p>
                </div>
                <input class="loginBar" type="text" name="userName" id="" placeholder="Nombre de Usuario" required>
            </div>
                <div>
                    <div>
                        <p class="fontText">
                            Contraseña
                        </p>
                    </div>
                    <input class="loginBar" type="password" name="password" id="" placeholder="Contraseña"required>
                </div>
                <div>
                    <div>
                        <p class="fontText">
                            Repite tu contraseña
                        </p>
                    </div>
                    <input class="loginBar" type="password" name="rptPassword" id="" placeholder="Repetir Contraseña" required>
                </div>
                <div>
                    <input class="checkButtom" type="submit" value="Ingresar">
                </div>
                <div class="ARAR">
                    <p>
                        ¿Ya estás registrado?
                    </p>
                </div>
                <div class="log_in">
                    <p><a href="/login">Inicia sesión aquí</a></p>
                </div>
            </div>
        </div>
    </form>
    </main>
    <footer>
        
    </footer>
</body>
</html>