<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario registrado con Éxito</title>
</head>
<body>
    Su usuario se registró exitosamente, será redirigido a la página principal en unos segundos...
</body>
</html>