<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shake it Shop!</title>
</head>
<header>
    <h1> Llevate todo para tu fiesta! </h1>

</header>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asesor de fiestas</title>
</head>
<body>

<script>
    let select = prompt("Hola! ¿Necesitas consejos para planificar tu fiesta? Un asesor se puede comunicar contigo...");

    while (select !== "si" && select !== "no") {
        alert("Por favor, ingresa si o no desde el teclado");
        select = prompt("Para poder realizar compras, debes estar registrado...");
    }

    if (select === "si") {
        window.location.href = "https://api.whatsapp.com/send?phone=123456789";
    } else {
        
    }
</script>

</body>
</html>


<body>

</body>
</html>