<!DOCTYPE html>
<html lang="es">
    
    <head>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">    
        <link rel="stylesheet" href="/public/css/tragoss.css">   
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/header.css">
        <!-- Otros estilos que ya tienes -->

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

        <!-- Owl Carousel JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    
        <title>Barra Móvil de Tragos en donde estes</title>
    </head>

    <body style="background-image: url(/images/marcas/johnny.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(236, 8, 187);">
    <header>
        <%- include ('parcial/header')%>
    </header>
    <div class="container">
        <div class="container">
        <!-- Sección 1: Encabezado -->
        <section id="encabezado" class="text-center">
          
        <h1 class="text-center mb16 bold">SHAKE IT UP</h1>
        <section class="cover fullscreen image-bg overlay parallax">
            <div class="container v-align-transform">
                <div class="row">
                    <div class="text-center">

                        
                        
                        <!-- Sección 2: Barra Móvil -->
        <section id="barra-movil" class="cover fullscreen image-bg overlay parallax">
            <div class="container v-align-transform">
                <div class="row">
                    <div class="text-center">
                        <h1 class="mb16 bold">Barra Móvil de Tragos Para Eventos</h1>
                    </div>
                </div>
            </div>
        </section>

    <!-- <article> -->

       <!-- Sección 3: Servicios -->
       <section id="servicios" class="container v-align-transform">
        <div class="text-center">         
                <h2 class="text-center">-- "Marcas lideres y tragos" --</h2>
                <br>
                        </br>
                <div class="divider divider-center divider-color"><!-- divider -->
                    <i class="fa fa-chevron-down"></i>
                </div>
      
                    <div class="col-md-6">
                        <h3>Descubrí Nuestros Servicios</h3>
                        <br>
                        </br>
                            
                            <p>Si estás planeando tu fiesta, sorprende a tus invitados con nuestra barra libre; tragos clásicos y de autor, cócteles equilibrados al máximo, como solo podés encontrar en los mejores bares. El punto justo entre alcohol y frío, jugos naturales, frutas y jarabes caseros. En cada sorbo, un mundo nuevo	de sabores.</p> 

                            <p> Todos nuestros servicios incluyen, barras móviles de diseño con iluminación, bartenders
                            profesionales, hielo, cristalería, equipamiento completo y puesta en escena. Vos solo tenes que	elegir el estilo que mejor combine con tu fiesta y nosotros nos encargamos del resto.</p>

                            <p>Servicio Veloz: Gracias a nuestra amplia práctica y experiencia en bares y eventos, contamos con un sistema de atención sin congestión en la barra. <b>¡Que tus invitados no esperen y sobre todo que no se pierdan ni un minuto de tu fiesta!</b></p>
                    </div>
                </article>
            </section>
                <!-- /FIN DE SECTION -->

                <br>
                        </br>
                <!-- Sección 4: Carta de Tragos -->
        <section id="carta-tragos" class="container">
                        <h2 class="text-center">Carta de tragos</h2>
                        <!-- <div class="divider divider-center divider-color"> -->
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <div class="row grid-color">
                            <div class="col-md-4">

                                <!-- <div class="container v-align-transform">
               
                                    <div class="text-center"> 
                                        <div class="col-md-4"> -->
                                <h4>Tragos infalibles</h4>

                        <div class="toggle toggle-transparent-body toggle-accordion">

                            <div class="toggle">
                                <label>Mojito</label>
                                <div class="toggle-content" style="display: none;">
                                    <p>Menta, limón natural, jarabe de azúcar mascabo, ron Havanna Club añejo Especial y soda.</p>
                                </div>
                            </div>

                            <div class="toggle">
                                <label>Mojito de Frutos Rojos</label>
                                <div class="toggle-content" style="display: none;">
                                    <p>Menta, limón natural, jarabe de azúcar mascabo, ron Havanna Club Añejo Especial, frutos rojos y soda.</p>
                                </div>
                            </div>

                            <div class="toggle">
                                <label>Caipiroska</label>
                                <div class="toggle-content" style="display: none;">
                                    <p>limón natural, jarabe simple y Vodka.</p>
                                </div>
                            </div>
                            
                            <div class="toggle active">
                                <label>Caipiroska de maracuyá</label>
                                <div class="toggle-content" style="display: block;">
                                    <p>limón natural, jarabe de Maracuyá y Vodka.</p>
                                </div>
                            </div>

                            <div class="toggle">
                                <label>Gin Tonic</label>
                                <div class="toggle-content">
                                    <p>gin, agua tónica paso de los toros y piel limón.</p>
                                </div>
                            </div>

                            <div class="toggle">
                                <label>Gin Tonic pepino/flores de hibiscus</label>
                                <div class="toggle-content">
                                    <p>Gin, agua tónica paso de los toros, pepino, enebro y piel limón.</p>
                                </div>
                            </div>

                            <div class="toggle">
                                <label>Fernet Branca</label>
                                <div class="toggle-content">
                                    <p>con coca cola.</p>
                                </div>
                            </div>

                            <div class="toggle">
                                <label>Aperol Spritz</label>
                                <div class="toggle-content">
                                    <p>Aperol, champagne, soda y naranja.</p>
                                </div>
                            </div>

                            <div class="toggle">
                                <label>Cuba libre</label>
                                <div class="toggle-content">
                                    <p>Ron Havanna club añejo especial, coca cola y piel de limón.</p>
                                </div>
                            </div>

                        </div>
                    </div>           
                </div>
                <br>
                <hr>
                <br>              
                            
                        <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div></div>
                        <!-- /OWL SLIDER -->
                    </div>


                    <div class="container v-align-transform">
               
                        <div class="text-center"> 
                    
                    <div class="col-md-4">
                        <h4>Tragos para Brillar</h4>
                        <div class="toggle toggle-transparent-body toggle-accordion">

                            <div class="toggle">
                                <label>Julepe de Menta</label>
                                <div class="toggle-content">
                                    <p>Bourbon whisky, Menta, limón natural, jarabe de azúcar mascabo y soda. </p>
                                </div>
                            </div>

                            <div class="toggle">
                                <label>Jagerjito</label>
                                <div class="toggle-content">
                                    <p>Jägermeister, azúcar mascabo,  limón natural, menta y soda. </p>
                                </div>
                            </div>

                            <div class="toggle">
                                <label>Negroni</label>
                                <div class="toggle-content">
                                    <p>Gin, Martini rosso, Campari y piel de naranja.</p>
                                </div>
                            </div>
                            
                            <div class="toggle">
                                <label>Moscow Mule</label>
                                <div class="toggle-content">
                                    <p>vodka, ginger ale y limón.</p>
                                </div>
                            </div>

                            <div class="toggle">
                                <label>Whisky Sour</label>
                                <div class="toggle-content">
                                    <p>Whisky, jarabe simple, jugo de limón y cereza al marraschino.</p>
                                </div>
                            </div>

                            <div class="toggle">
                                <label>Cynar Julep</label>
                                <div class="toggle-content">
                                    <p>Cynar, menta fresca, jugo de limón, jarabe de azúcar integral orgánica mascabo.</p>
                                </div>
                            </div>

                            <div class="toggle">
                                <label>Margarita</label>
                                <div class="toggle-content">
                                    <p>Tequila, limón natural y jarabe simple.</p>
                                </div>
                            </div>

                        </div>
                    </div>
           
            </div>
        </section>
        <!-- FIN IMAGENES DE TRAGOS / BARRAS -->

       <!-- Sección 5: Carrusel de Imágenes -->

      <!-- 
       <section id="imagenes-tragos" class="container text-center"> -->
        <div class="ContendedorCarrousel" id="carrouselCountainer">
            <ul class="owl-carousel">
                            <li class="slide">
                                <img class="img-responsive" src="" alt="">
                            </li>
                            <li class="slide">
                                <img class="img-responsive" src="/images/marcas/1.png" alt="">
                            </li>
                            <li class="slide">
                                <img class="img-responsive" src="/images/marcas/2.png" alt="">
                            </li>
                            <li class="slide">
                                <img class="img-responsive" src="/images/marcas/3.png" alt="">
                            </li>
                            <!-- <li class="slide">
                                <img class="img-responsive" src="/images/marcas/4.png" alt="">
                            </li> -->
                            <li class="slide">
                                <img class="img-responsive" src="/images/marcas/5.png" alt="">
                            </li>
                            <li class="slide">
                                <img class="img-responsive" src="/images/marcas/6.png" alt="">
                            </li>
                            <!-- <li class="slide">
                                <img class="img-responsive" src="/images/marcas/7.png" alt="">
                            </li> -->
                            <!-- <li class="slide">
                                <img class="img-responsive" src="/images/marcas/8.png" alt="">
                            </li> -->
                            <li class="slide">
                                <img class="img-responsive" src="/images/marcas/9.png" alt="">
                            </li>
                            <li class="slide">
                                <img class="img-responsive" src="/images/marcas/10.png" alt="">
                            </li>
                            <li class="slide">
                                <img class="img-responsive" src="/images/marcas/11.png" alt="">
                            </li>
                            <!-- <li class="slide">
                                <img class="img-responsive" src="/images/marcas/12.png" alt="">
                            </li>
                            <li class="slide">
                                <img class="img-responsive" src="/images/marcas/13.png" alt="">
                            </li> -->
                            <li class="slide">
                                <img class="img-responsive" src="/images/marcas/14.png" alt="">
                            </li>                                                
                        </ul>

                        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
                 
                        <script>
                        $(document).ready(function () {
                        $("#carrouselCountainer ul").owlCarousel({
                        loop: true,
                        margin: 10,
                        nav: false,
                        autoplay: true,
                        autoplayTimeout: 2000, // Ajusta el tiempo entre las transiciones en milisegundos
                        responsive: {
                         0: {
                           items: 1
                         },
                         600: {
                           items: 3
                         },
                         1000: {
                           items: 5
                         }
                       }
                       });
                       });
                       </script>

                    </div></div></div>   
            </div>
        </section>			


        <!-- CONTACTO -->

        <section id="contacto">
            <div class="container">
                
                <div class="row">

                    <h2 class="text-center">Contactanos Para Tu Próximo <strong>Evento!</strong></h2>
                    <br>
                        </br>
                        <br>
                        </br>
                        
                
                <div class="divider divider-center divider-color"><!-- divider -->
                    <i class="fa fa-chevron-down"></i>
                </div>
                </div>
            </div>
        </section>
        <!-- FOOTER -->
        <footer id="footer">
            <div class="container">

                <div class="row">
                    
                    <div class="col-md-12">

                        <!-- Footer Logo -->
                        <img class="footer-logo footer-2" src="/public/images/jpg/shake it up logo.jpg" alt="">

                        <!-- Small Description -->
                        <p>Somos Santiago, Martin, Javier y Joaquin, fans de los tragos y las fiestas. 
                            Desde 2015 ofrecemos un servicio premium de coctelería tanto en nuestro Bar como en fiestas, cumples, casamientos, eventos de egresados y tantas otras fiestas mas.
                            Conocidos en el ambiente de la fama por brindar los mejores tragos.
                            Viajamos desde la Argentina y por el mundo, llevando la fiesta, a tu fiesta.
                            <a target="_blank" style="color: #5dfd1d;" href="">@shakeup</a>, como en nuestras barras móviles en fiestas y eventos.</p>  

                        <p>Es que nos encanta poder compartir toda la experiencia que vivimos en los últimos 15 años en nuestro paso por entrenamientos en bares y restaurantes, de los nuestros y del exterior.<br><br>
                        ¡Nos fascina la coctelería, por eso queremos estar en tu fiesta para que vos y tus invitados tengan los mejores recuerdos de un día inolvidable!</p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

                    </section>
                    <!-- FIN IMAGENES DE TRAGOS / BARRAS -->
            
                   <!-- Sección 5: Carrusel de Imágenes --> 
                   <br>
                </br> <br>
            </br> <br>
        </br> 

    <div class="text-center">
        <h1 class="mb16 bold">SALONES QUE NOS ELIGEN</h1>
    </div>
    <br>
    </br>
    

                   <p>"¡SHAKE IT UP! La barra móvil que transforma cada evento en una experiencia inolvidable. 
                    Nuestro compromiso con la excelencia nos ha llevado a colaborar con prestigiosos salones como:

                    *Hilton, 
                    *Pilar, 
                    *Salguero, 
                    *Sheraton, 
                    *Olivos, y muchos más.
                    <br>
                </br> <br>
            </br>

                    En SHAKE IT UP, no solo mezclamos los mejores cócteles, 
                    sino que también creamos ambientes excepcionales en algunos de los lugares más exclusivos. 
                    Desde eventos corporativos hasta bodas de ensueño, 
                    nuestra presencia en salones de renombre garantiza un toque único y elegante para cada ocasión.
                    <br>
                </br> <br>
            </br> <br>
        </br>
                    Descubre la magia de nuestros servicios en el lujoso Hilton, 
                    la sofisticación de Pilar, 
                    la versatilidad de Salguero, 
                    la distinción de Sheraton, 
                    y el encanto de Olivos. 
                    Cada lugar es una oportunidad para crear recuerdos inolvidables, 
                    y en SHAKE IT UP, estamos comprometidos a superar tus expectativas en cada evento.
                    <br>
                </br> <br>
            </br>
                   ¿Estás listo para agitar tus celebraciones? 
                   Únete a nosotros y experimenta la excelencia en cada sorbo y en cada rincón de estos magníficos salones. SHAKE IT UP, donde la calidad se mezcla con la elegancia para crear momentos memorables."</p>
                <br>
                </br>
                <br>
            </br>
            <br>
        </br>
                  <!-- 
                   <section id="imagenes-tragos" class="container text-center"> -->
                    <section id="imagenes-tragos" class="container text-center">
                        <div class="ContendedorCarrousel" id="carrouselCountainer">
                            <ul class="owl-carousel">
                                        <li class="slide">
                                           <img class="img-responsive img-grande" src="/images/salones/HILTON.jpeg" alt="">
                                       </li>                    
                                       
                                        <li class="slide">
                                            <img class="img-responsive img-grande" src="/images/salones/OLIVOS.jpeg" alt="">
                                        </li>
                                        <li class="slide">
                                            <img class="img-responsive img-grande" src="/images/salones/PILAR.jpg" alt="">
                                        </li>
                                        <li class="slide">
                                            <img class="img-responsive img-grande" src="/images/salones/SALGUERO.jpg" alt="">
                                        </li>                                       
                                        <li class="slide">
                                            <img class="img-responsive img-grande" src="/images/salones/SHERATON.jpg" alt="">
                                        </li>                                                          
                                    </ul>
            
                                    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
                             
                                    <script>
                                        $(document).ready(function () {
                                            $("#carrouselCountainer ul").owlCarousel({
                                                loop: true,
                                                margin: 10,
                                                nav: false,
                                                autoplay: true,
                                                autoplayTimeout: 2000,
                                                responsive: {
                                                    0: {
                                                        items: 1
                                                    },
                                                    600: {
                                                        items: 3
                                                    },
                                                    1000: {
                                                        items: 5
                                                    }
                                                }
                                            });
                                        });
                                    </script>
            
                                </div></div></div>   
                        </div>
                    </section>		
                        
                        </br>
                        </br>
                    
                </br>
            </br>
        </br>
                        <hr>

                        <div class="row">								

                            <div class="col-md-12 col-sm-12">

                                <!-- Social Icons -->
                                <!-- <div class="clearfix text-center">

                                    <p class="margin-bottom-10">Seguinos en Nuestras Redes Sociales!</p>
                                    <a href="https://www.facebook.com/menta.barramovil/" target="_blank" class="social-icon social-icon-sm social-icon-transparent social-facebook pull-center" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>


                                    <a href="https://www.instagram.com/menta.barramovil/" target="_blank" class="social-icon social-icon-sm social-icon-transparent social-gplus pull-center" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                                        <i class="icon-instagram"></i>
                                        <i class="icon-instagram"></i>
                                    </a>

                                </div> -->
                                <!-- /Social Icons -->

                            </div>
                            
                        </div>



                    </div>


                </div>

            </div>

            <div class="copyright">
                <div class="container">
                    

                    © 2024 | Shake It Up <br> San Miguel, Buenos Aires, Argentina.
                </div>
            </div>
        </footer>
        <!-- /FOOTER -->

    </div>
  
</body>
</html>
